name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: 'npm'

    - name: Install Dependencies Linux
      if: matrix.os == 'ubuntu-latest'
      run: |
        npm install --cpu=x64 --os=linux --libc=glibc

    - name: Install Dependencies Windows
      if: matrix.os == 'windows-latest'
      run: |
        npm install --cpu=x64 --os=windows

    - name: Post Install
      run: |
        npm run postinstall

    - name: Build
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npm run package

    - name: Upload Windows artifact
      if: matrix.os == 'windows-latest'
      uses: actions/upload-artifact@v4
      with:
        name: electron-dam-windows
        path: release/build/*.exe

    - name: Upload Linux artifact
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: electron-dam-linux
        path: release/build/*.AppImage
