name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js and NPM
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: npm

      - name: Install Dependencies
        run: |
          npm install node-addon-api node-gyp

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Build
        run: |
          npm run build

      - name: Test
        run: |
          npm test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
