name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js and NPM
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: npm

      - name: Install Dependencies Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          npm install --cpu=x64 --os=linux --libc=glibc

      - name: Install Dependencies Windows
        if: matrix.os == 'windows-latest'
        run: |
          npm install --cpu=x64 --os=windows

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Build
        run: |
          npm run build

      - name: Test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
